<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<div class="account-outer-wrapper">
    <div class="account-inner-wrapper">
        <p>All fields are required.</p>
        <form id="register-form" action="/account/registration" method="post">
            <fieldset>
            <label for="firstname">First name:</label>
            <input type="text" name="account_firstname" id="firstname" size="10" required value="<%= locals.account_firstname %>">
            <label for="lastname">Last name:</label>
            <input type="text" name="account_lastname" id="lastname" required value="<%= locals.account_lastname %>">
            <label for="email">Email Address:</label>
            <input type="email" name="account_email" id="email" required value="<%= locals.account_email %>">
            <label for="account_password">Password:</label>
            <div class="password-wrapper">
                <input type="password" id="account_password" name="account_password" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" value="<%= locals.account_password || '' %>">
                <img id="passwordToggle" class="eye-icon" src="/images/show-password.png" alt="Show Password">
            </div>
            <div class="password-requirements">
                <p>Password Requirements:</p>
                <ul>
                    <li>Must be at least 12 characters long.</li>
                    <li>Must include at least 1 capital letter.</li>
                    <li>Must include at least 1 number.</li>
                    <li>Must include at least 1 special character.</li>
                </ul>
            </div>
            <button type="submit">Register</button>
            </fieldset>
        </form>
    </div>
</div>
<script src="/js/script.js"></script>